<header class="region"><div class="inner">
  <a class="logo-link" itemprop="url" href="{{ site.subpath }}/">
    <h1 class="site-name" itemprop="name">
      <img class="logo" itemprop="logo" src="{{ site.subpath }}/images/logo.png" alt="{{ site.title }}" />
    </h1>
  </a>
  <div class="actions">
    <a class="button icon tel" itemprop="telephone" href="tel:+1{{ site.phonedigits }}">{{ site.phone }}</a>
    <a class="button icon email" itemprop="email" href="mailto:{{ site.email }}">{{ site.email }}</a>
  </div>
</div></header>
