<div class="testimonial-brief">
  {% if include.testimonial.image %}
  <a href="{{ include.testimonial.url }}">
    <img class="testimonial-image" src="/images/testimonials/{{ include.testimonial.image }}" alt="" />
  </a>
  {% endif %}
  <h2>&#8220;<a href="{{ include.testimonial.url }}">{{ include.testimonial.tagline }}</a>&#8221;</h2>
  <p class="testimonial-content">{{ include.testimonial.content | strip_html | truncatewords: 12 }}</p>
  <p class="testimonial-signed"><a href="{{ include.testimonial.url }}">{{ include.testimonial.title }}</a></p>
</div>